# Ignore everything by default
*

# But don't ignore directories and their contents
!*/
!app/**
!api/**
!services/**
!styles/**
!hooks/**
!config/**
!components/**
!constants/**

# Allow asset files (like app icons, splash screens, sounds)
!assets/
!assets/images/
!assets/images/icon.png
!assets/images/splash-icon.png
!assets/sounds/
!assets/sounds/notification-sound.wav

# Allow config and essential project files
!package.json
!package-lock.json
!tsconfig.json
!.gitignore
!app.json
!expo-env.d.ts
!README.md

# Ignore node modules
node_modules/

# Ignore Expo CLI generated environment file
expo-env.d.ts
